.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 150px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 0px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
} 

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__button {
    background: black;
    color: white;
    border: none;
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    transition: transform 100ms ease-in;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.header__button:hover {
    background: rgb(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

/* @media only screen and (max-width: 400px) {
    .header {
        width: 1300px;
        height: 100px;
    }
}

@media (min-width: 410px) {
    .header {
        width: 1440px;  
        height: 100px;  
    }
} */